body{
    height: 100vh;
    position: relative;
  }
  *{
    font-size: large;
  }
  header {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
  }
  header > div {
    display: flex;
    align-items: center;
  }
  a {
    margin: 6px;
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: underline;
  }
  img{
    margin: 6px;
  }
  nav img {
    margin: 3px;
    width: 25px;
  }
  .effect {
    margin: 2px;
    padding: 5px;
    border-radius: 50%;
  }
  .search {
    display: flex;
    justify-content: center;
    margin: 35px 0;
  }
  .searchBox {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 30px;
    flex: 1 0 95%;
    max-width: 570px;
    margin: 0 5px;
    min-width: 0;
  }
  .searchBox:hover,
  .searchBox:hover input,
  .effect:hover {
    background-color: rgb(200, 200, 200);
  }
  input {
    border: none;
    outline: none;
    font-size: large;
    flex: 90%;
    min-width: 0px;
  }
  .btns {
    display: flex;
    justify-content: center;
  }
  button {
    padding: 8px;
    margin: 5px;
    border: 1px solid #e3e3e3;
  }
  button:hover {
    border: 1.5px solid #bababa;
  }
  .langg a {
    color: blue;
    font-size: 13px;
  }
  footer{
position: absolute;
bottom: 0;
    background-color: #f9f6f6; padding: 5px;
    width: 98%;
  }
  @media only screen and (max-width: 700px)  {
    #neew {
      flex-basis: 90%;
    }
    footer{
      flex-direction: column;
    }
    #foot > div{
      justify-content: center;

    }

  }
  .d-f{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
 #mobileNav{
  display: none;
 }
 .langg{
  margin: 50px 0;
  text-align: center;
 }
 .langg p{
  display: inline;
 }
 nav a:hover, nav a:focus{
  text-decoration: none;
  border-bottom: 2px solid rgb(5, 189, 251);
 }
 
  @media only screen and (max-width: 370px){
    header{
      display: none;
    }
    #mobileNav{
      display: flex;
    }
    *{
    font-size: small;
     }
     @media only screen and (max-width: 370px){
      header{
        display: none;
      }

      #mobileNav{
        display: flex;
      }
      img {
        margin: 3px;
      }
      .search img{
         width: 30px;
      }
      img {
        width: 80%;
      }

      *{
      font-size: small;
      }

    .btns{
      display: none;
    }

    .langg p{
    display: block;
    }
  
  .langg p{
     display: block;
     }
     footer{
      padding: 2px;
     }
     #foot div{
      margin: 3px;
     }
    }
  }